/* [ Restyle ] ////////////////////////////////// */
#admin-courses ul {
  list-style: none;
}

/* [ Layout ] /////////////////////////////////// */
#admin-courses .container {
  margin: 0 5rem;
}

#admin-courses .grid {
  display: grid;
  gap: 2rem;
}

#admin-courses main {
  margin-top: calc(var(--header-height) + 6rem);
}

#admin-courses .gradients {
  padding: 0.3rem;
  border-radius: 5px;
  background: #ffffff;
  background-image: linear-gradient(315deg, rgb(32 80 120) 0%, #ffffff 33%);
}



/* [ Header ] /////////////////////////////////// */
#admin-courses #header {
  border-bottom: 1px solid var(--grey-light);
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: var(--white);
}

/* [ Navigation ] */
#admin-courses nav {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#admin-courses nav ul {
  display: flex;
  gap: 2rem;
}

#admin-courses nav ul li a {
  color: var(--grey-dark);
  font-weight: 700;
  transition: color 0.2s;
  position: relative;
}

#admin-courses nav ul li a:hover {
  color: var(--blue);
  cursor: pointer;
}

#admin-courses nav ul li a::after {
  content: '';
  width: 100%;
  height: 0px;
  background: var(--blue);

  position: absolute;
  left: 0;
  bottom: -3rem;

  transition: height 0.3s;
}

#admin-courses nav ul li a:hover::after {
  height: 2px;
}

#admin-courses nav ul li a.isSelected::after {
  height: 2px;
}

#admin-courses nav ul li a.isSelected {
  color: var(--blue);
}

/* [ Profile ] */
#admin-courses .profile {
  width: 6rem;
  height: 6rem;

  background: url('https://github.com/carlosexsantos.png');
  background-position: center center;
  background-size: cover;
  background-clip: content-box;
  border-radius: 100%;

  padding: 2px;
  border: 2px solid var(--grey-blue);
  cursor: pointer;
}

/* [ Main ] ///////////////////////////////////// */
#admin-courses #admin-coursers {
  overflow: hidden;
}

#admin-courses #admin-coursers .container {
  width: 75%;
  margin: 0 auto;
}

#admin-courses #admin-coursers h1 {
  font-size: 3rem;
  color: var(--grey-dark);
  margin-bottom: 1rem;
}

#admin-courses #admin-coursers .course-create {
  display: flex;
  justify-content: space-between;
}

#admin-courses #admin-coursers .course-create div {
  width: 8rem;
}

/* [ table ] */
#admin-courses #data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--grey-dark);
}

#admin-courses table thead tr th:first-child,
#admin-courses table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

#admin-courses table thead tr th:last-child,
#admin-courses table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

#admin-courses table thead th {
  background: var(--white);

  font-weight: 700;
  padding: 1rem 2rem;

  text-align: left;
}

#admin-courses table thead,
#admin-courses table tbody {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

#admin-courses table tbody tr {
  opacity: 0.8;
}

#admin-courses table tbody tr:hover {
  opacity: 1;
}

#admin-courses table tbody td {
  background: var(--white);
  padding: 1.5rem 2rem;
}

#admin-courses table tbody tr a {
  background: var(--blue);
  color: var(--white);
  border-radius: 0.25rem;

  padding: 0.3rem 1rem;
  cursor: pointer;
}

/* [ Modal ] //////////////////////////////////// */
#admin-courses .modal-overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  z-index: 999;
}

#admin-courses .modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

#admin-courses .modal {
  background: var(--white);
  padding: 2.4rem;

  position: relative;
  z-index: 1;

  width: 50%;
}

/* [ Form ] */
#admin-courses .modal h2,
#admin-courses .modal p {
  margin-top: 0;
  color: var(--grey-dark);
}

#admin-courses input {
  border-radius: 0.5rem;
  padding: 0.8rem;
  outline: none;
  width: 100%;
  border: 1px solid var(--grey-blue);
  margin-bottom: 0.5rem;
}

#admin-courses input.input-name {
  border: 0.2rem solid var(--grey-blue);
}

#admin-courses .input-group {
  margin-top: 0.8rem;
}

#admin-courses .input-group .help {
  opacity: 0.4;
}

#admin-courses .input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#admin-courses .input-group.actions .button,
#admin-courses .input-group.actions button {
  width: 48%;
}
