/* [ Restyle ] ////////////////////////////////// */
#admin-users ul {
  list-style: none;
}

/* [ Layout ] /////////////////////////////////// */
#admin-users .container {
  margin: 0 5rem;
}

#admin-users .grid {
  display: grid;
  gap: 2rem;
}

#admin-users main {
  margin-top: calc(var(--header-height) + 6rem);
}

#admin-users .gradients {
  padding: 0.3rem;
  border-radius: 5px;
  background: #ffffff;
  background-image: linear-gradient(315deg, rgb(32 80 120) 0%, #ffffff 33%);
}

/* [ Header ] /////////////////////////////////// */
#admin-users #header {
  border-bottom: 1px solid var(--grey-light);
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--white);
}

/* [ Navigation ] */
#admin-users nav {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#admin-users nav ul {
  display: flex;
  gap: 2rem;
}

#admin-users nav ul li a {
  color: var(--grey-dark);
  font-weight: 700;
  transition: color 0.2s;
  position: relative;
}

#admin-users nav ul li a:hover {
  color: var(--blue);
  cursor: pointer;
}

#admin-users nav ul li a::after {
  content: '';
  width: 100%;
  height: 0px;
  background: var(--blue);

  position: absolute;
  left: 0;
  bottom: -3rem;

  transition: height 0.3s;
}

#admin-users nav ul li a:hover::after {
  height: 2px;
}

#admin-users nav ul li a.isSelected::after {
  height: 2px;
}

#admin-users nav ul li a.isSelected {
  color: var(--blue);
}

/* [ Profile ] */
#admin-users .profile {
  width: 6rem;
  height: 6rem;

  background: url('https://github.com/carlosexsantos.png');
  background-position: center center;
  background-size: cover;
  background-clip: content-box;
  border-radius: 100%;

  padding: 2px;
  border: 2px solid var(--grey-blue);
  cursor: pointer;
}

/* [ Main ] ///////////////////////////////////// */
#admin-users #admin-user {
  overflow: hidden;
}

#admin-users #admin-user .container {
  width: 75%;
  margin: 0 auto;
}

#admin-users #admin-user h1 {
  font-size: 3rem;
  color: var(--grey-dark);
  margin-bottom: 1rem;
}

/* [ table ] */
#admin-users #data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--grey-dark);
}

#admin-users table thead tr th:first-child,
#admin-users table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

#admin-users table thead tr th:last-child,
#admin-users table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

#admin-users table thead th {
  background: var(--white);

  font-weight: 700;
  padding: 1rem 2rem;

  text-align: left;
}

#admin-users table thead,
#admin-users table tbody {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

#admin-users table tbody tr {
  opacity: 0.8;
}

#admin-users table tbody tr:hover {
  opacity: 1;
}

#admin-users table tbody td {
  background: var(--white);
  padding: 1rem 2rem;
}

#admin-users table tbody tr a {
  background: var(--blue);
  color: var(--white);
  border-radius: 0.25rem;

  padding: 0.3rem 1rem;
  cursor: pointer;
}

#admin-users .modal-overlay {
  width: 100%;
  height: 100%;

  background-color: var(--background);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  visibility: visible;

  z-index: 999;

  color: var(--grey-dark);
}


