/* [ Main ] ///////////////////////////////////// */
#admin-courses #course-infor {
  overflow: hidden;
  width: 100%;
}

#admin-courses #course-infor .container {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 4rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#admin-courses #course-infor .card-infor {
  width: 100%;
  padding: 2rem 3rem;
  background: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);

  height: auto;
}

#admin-courses #course-infor .infor-user {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#admin-courses #course-infor .infor-header {
  display: flex;
  justify-content: space-between;
}

#admin-courses #course-infor .infor-header .actions{
  display: flex;
  gap: 2rem;
}

#admin-courses #course-infor .infor-header .botao {
  display: flex;
  height: 3rem;
  padding: 2rem 1rem;
  border-radius: 5px;
  cursor: pointer;

  color: var(--white);
  background: var(--blue);

  align-items: center;
  justify-content: center;
}

#admin-courses #course-infor .infor-header .botao.red {
  background-color: var(--red);
}

#admin-courses #course-infor .infor-header .botao:hover {
  filter: brightness(1.3);
}



#admin-courses #course-infor .infor-user .infors {
  display: flex;
  justify-content: space-between;
}

#admin-courses #course-infor .mail-invite {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* [ quetions ] */
#admin-courses #course-infor .quetions {
  width: 100%;
}

#admin-courses #course-infor .quetion {
  position: relative;
  margin: 1rem 2rem;
}

#admin-courses #course-infor .quetion .label {
  position: relative;
  padding: 1rem;
  background: var(--blue);
  color: var(--white);
  cursor: pointer;

  border-radius: 5px;
}

#admin-courses #course-infor .quetion.active .label {
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
}

#admin-courses #course-infor .quetion.active .label .icons{
  display: flex;
  gap: 1.5rem;
  font-size: 2.5rem;
}

#admin-courses #course-infor .quetion.active .label .icons i:hover {
  filter: brightness(0.8);
}

#admin-courses #course-infor .quetion .content {
  position: relative;
  background: var(--background);
  height: 0;
  overflow: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  border-radius: 0 0 5px 5px;
}

#admin-courses #course-infor .quetion.active .content {
  height: 30rem;
  padding: 1rem;
}

/* [ table ] */
#admin-courses #course-infor #data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--grey-dark);
}

#admin-courses #course-infor table thead tr th:first-child,
#admin-courses #course-infor table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

#admin-courses #course-infor table thead tr th:last-child,
#admin-courses #course-infor table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

#admin-courses #course-infor table thead th {
  background: var(--white);

  font-weight: 700;
  padding: 1rem 2rem;

  text-align: left;
}

#admin-courses #course-infor table thead,
#admin-courses #course-infor table tbody {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

#admin-courses #course-infor table tbody td {
  background: var(--white);
  padding: 1rem 2rem;
}

#admin-courses #course-infor table tbody tr a {
  background: var(--blue);
  color: var(--white);
  border-radius: 0.25rem;

  padding: 0.3rem 1rem;
}

/* [ Modal ] */
#admin-courses .modal-over {
  width: 100%;
  height: 100%;

  background-color: var(--background);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  visibility: visible;

  z-index: 10;

  color: var(--grey-dark);
}
