/* [ Restyle ] ////////////////////////////////// */
ul {
  list-style: none;
}

/* [ Layout ] /////////////////////////////////// */
#courses .container {
  margin: 0 5rem;
}

#courses .grid {
  display: grid;
  gap: 2rem;
}

#courses main {
  margin-top: calc(var(--header-height) + 6rem);
}

#courses .gradients {
  padding: 0.3rem;
  border-radius: 5px;
  background: #ffffff;
  background-image: linear-gradient(315deg, rgb(32 80 120) 0%, #ffffff 33%);
}

#courses {
  width: 100%;
}

/* [ Header ] /////////////////////////////////// */
#courses #header {
  border-bottom: 1px solid var(--grey-light);
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--white);
}

/* [ Navigation ] */
#courses nav {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#courses nav ul {
  display: flex;
  gap: 2rem;
}

#courses nav ul li a {
  color: var(--grey-dark);
  font-weight: 700;
  transition: color 0.2s;
  position: relative;
}

#courses nav ul li a:hover {
  color: var(--blue);
}

#courses nav ul li a::after {
  content: '';
  width: 100%;
  height: 0px;
  background: var(--blue);

  position: absolute;
  left: 0;
  bottom: -3rem;

  transition: height 0.3s;
}

#courses nav ul li a:hover::after {
  height: 2px;
}

#courses nav ul li a.isSelected::after {
  height: 2px;
}

#courses nav ul li a.isSelected {
  color: var(--blue);
}

/* [ Profile ] */
#courses .profile {
  width: 6rem;
  height: 6rem;

  background: url('https://github.com/matheuusu.png');
  background-position: center center;
  background-size: cover;
  background-clip: content-box;
  border-radius: 100%;

  padding: 2px;
  border: 2px solid var(--grey-blue);
  cursor: pointer;
}

/* [ Main ] ///////////////////////////////////// */
#courses #course {
  overflow: hidden;
}

#courses #course .container {
  width: 80.4%;
  margin: 0 auto;
}

#courses #course h1 {
  font-size: 3rem;
  color: var(--grey-dark);
}

#courses .courses-wrapp {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

#courses .course {
  width: 28rem;
  height: 38rem;
  padding: 2rem;

  background: var(--white);
  color: var(--grey-dark);
  border: 2px solid var(--grey-light);
  border-bottom: 3px solid var(--grey-blue);
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
