/* [ Restyle ] ////////////////////////////////// */
#questions ul {
  list-style: none;
}

/* [ Layout ] /////////////////////////////////// */
#questions .container {
  margin: 0 5rem;
}

#questions .grid {
  display: grid;
  gap: 2rem;
}

#questions main {
  margin-top: calc(var(--header-height) + 6rem);
}

#questions .gradients {
  padding: 0.3rem;
  border-radius: 5px;
  background: #ffffff;
  background-image: linear-gradient(315deg, rgb(32 80 120) 0%, #ffffff 33%);
}

/* [ Header ] /////////////////////////////////// */
#questions #header {
  border-bottom: 1px solid var(--grey-light);
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--white);
}

/* [ Navigation ] */
#questions nav {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#questions nav ul {
  display: flex;
  gap: 2rem;
}

#questions nav ul li a {
  color: var(--grey-dark);
  font-weight: 700;
  transition: color 0.2s;
  position: relative;
}

#questions nav ul li a:hover {
  color: var(--blue);
  cursor: pointer;
}

#questions nav ul li a::after {
  content: '';
  width: 100%;
  height: 0px;
  background: var(--blue);

  position: absolute;
  left: 0;
  bottom: -3rem;

  transition: height 0.3s;
}

#questions nav ul li a:hover::after {
  height: 2px;
}

#questions nav ul li a.isSelected::after {
  height: 2px;
}

#questions nav ul li a.isSelected {
  color: var(--blue);
}

/* [ Profile ] */
#questions .profile {
  width: 6rem;
  height: 6rem;

  background: url('https://github.com/matheuusu.png');
  background-position: center center;
  background-size: cover;
  background-clip: content-box;
  border-radius: 100%;

  padding: 2px;
  border: 2px solid var(--grey-blue);
  cursor: pointer;
}

/* [ Main ] ///////////////////////////////////// */
#questions #question {
  overflow: hidden;
}

#questions #question .container {
  width: 75%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#questions .card-infor {
  width: 100%;
  padding: 2rem 3rem;
  background: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

#questions .card-infor h2 {
  font-size: 2.5rem;
  margin: 2rem 0;
  font-family: 'Poppins';
  color: var(--grey-dark);
}

#questions .card-infor .answers {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

#questions .card-infor input[type='radio'] {
  display: none;
}

#questions .card-infor label {
  position: relative;
  font-size: 2rem;
  border: 2px solid var(--grey-dark);
  border-radius: 5px;
  padding: 1rem 4rem;
  color: var(--grey-dark);
  font-weight: 500;

  display: flex;
  align-items: center;
}

#questions .card-infor label:before {
  content: '';
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid var(--grey-dark);
  border-radius: 50%;
  margin-right: 2rem;
}

#questions .card-infor input[type='radio']:checked + label {
  background: var(--blue);
  color: var(--white);
  border: 2px solid var(--grey-light);
}

#questions .card-infor input[type='radio']:checked + label::before {
  width: 1.6rem;
  height: 1.6rem;
  border: 8px solid var(--white);
}
