ul {
  list-style: none;
}
/* [Header] ///////////////////////////////////////////////*/
#rankings {
  width: 100%;
}
#rankings .content header {
  background: #fff;
  height: 8rem;
  width: 100%;
  padding: 0 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#rankings .content header .logo-wrapper h1 a {
  font-size: 3.5rem;
  color: var(--blue);
}

#rankings .content header .navigation-wrapper nav a {
  padding: 0 2rem;
  color: var(--blue);
  font-weight: 700;
}

#rankings .content header .profile-wrapper {
  padding: 0.2rem;
  border: 0.3rem solid var(--blue);
  border-radius: 6rem;
}

#rankings .content header .profile-wrapper .profile {
  clip-path: circle();
  height: 6rem;
  width: 6rem;

  background: var(--grey-dark) url('https://github.com/carlosexsantos.png');
  background-size: cover;
}

/* [ main ] ///////////////////////////////////// */

#rankings .content main .main-wrapper {
  background: var(--background);
  margin-top: 0.1rem;
  height: 100vh;
}

#rankings .content main .main-wrapper .main-content {
  width: 85%;
  margin: 0 auto;
}

#rankings nav {
  padding-top: 3rem;
}

#rankings nav ul{
  display: inline-flex;
  padding: 1.5rem 0;
  background: #fff;
  border: 1px solid var(--grey-light);
  border-radius: .4rem;
  margin-left: 2rem;
}

#rankings nav ul li {
  margin: 0 2rem;
  font-size: 2rem;
  color: var(--grey-dark);
  font-weight: 700;
  cursor: pointer;
  padding: 0 0 .5rem 0;
}

#rankings nav ul li:nth-child(1) {
  border-bottom: .2rem solid var(--grey-dark);
  
}

#rankings .table-wrapper {
  margin-top: 3rem;
}

#rankings table {
  margin: 0 2rem;
}

#rankings thead {
  display: table-header-group;
  vertical-align: middle;
}

#rankings table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--grey-dark);
}

#rankings table thead th {
  background: white;

  font-weight: normal;
  padding: 1rem 2rem;

  text-align: left;
}
#rankings table thead tr th:first-child, 
#rankings table tbody tr td:first-child
{
    border-radius: 0.25rem 0 0 0.25rem;
}

#rankings table thead tr th:last-child, 
#rankings table tbody tr td:last-child{
    border-radius: 0 0.25rem 0.25rem 0;
}

#rankings table tbody tr {
  opacity: 0.7
}

#rankings table tbody tr:hover {
  opacity: 1
}

#rankings table tbody td {
  background:white;
  padding: 1rem 2rem;
}

#rankings td.description {
  color: var(--dark-blue);
}

#rankings td.income {
  color: #12a454;
}

#rankings td.expense {
  color: #e92929;
}

/* profile */
#rankings .profile-wrapper {
  padding: .2rem;
  border: .3rem solid var(--grey-light);
  border-radius: 6rem;
  margin: 0 2rem 0 0;
}

#rankings .profile-wrapper .profile {
  clip-path: circle();
  height: 6rem;
  width: 6rem;

  background: var(--grey-dark) url('https://github.com/matheuusu.png');
  background-size: cover;
}

#rankings .profile-wrapper #julio {
  background: var(--grey-dark) url('https://github.com/lionev.png');
  background-size: cover;

}

#rankings .flex-aqui {
  display: flex;
  align-items: center;
}